/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* - Mixins
------------------------------------------------- 
    Description: Useful mixins
    Author: Nick Rowe - Prodo Digital
    Author URL: http://www.prodo.com
*/
/*=====================================================
  Placeholder
======================================================*/
/*=====================================================
  Border radius mixins
======================================================*/
/*=====================================================
  Cross browser opacity
======================================================*/
/*=====================================================
  Transition
======================================================*/
/*=====================================================
  Box shadows
======================================================*/
/*=====================================================
  Triangle Shape

  @include triangle within a pseudo element and add positioning properties (ie. top, left)
  $direction: up, down, left, right
======================================================*/
/*=====================================================
  SVG fallback for invisbile gradient

  Sass mixin for SVG with fallback support using the invisible gradient technique
  http://pauginer.com/post/36614680636/invisible-gradient-technique
======================================================*/
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px; }
  .container .row {
    min-width: 0;
    padding-left: 0;
    padding-right: 0; }

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  max-width: 100%;
  height: auto; }

body {
  background-color: #f9fafc;
  font-family: 'Open Sans', sans-serif;
  color: #5a5a5a;
  font-weight: 100; }

a {
  text-decoration: none;
  font-weight: 600;
  color: black; }

p {
  margin-bottom: 50px; }


.entry-header .wp-post-image {
  margin-bottom: 50px; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 50px;
  margin-bottom: 1.5rem;
  font-size: 50px;
  color: #777777; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #777777; }

main {
  margin: 0; }


.post {
  -webkit-box-shadow: 0 1px 40px rgba(0, 0, 0, 0.09);
  box-shadow: 0 1px 40px rgba(0, 0, 0, 0.09);
  margin-bottom: 80px;
  position: relative;
  background: white; }

.entry-content {
  padding: 40px 50px; }
  @media only screen and (min-width:lower-bound(40.063em, 64em)) {
    .entry-content {
      padding: 100px; } }

.entry-header {
  text-align: center; }

.site-header {
  position: relative; }

.site-menu {
  display: none; }

.skip-link {
  display: none; }

.main-navigation {
  padding: 2rem; }

.menu {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 14px;
  top: 50%;
  margin-top: -10px;
  border: 0;
  background-color: transparent;
  outline: 0;
  padding: 0; }
  .menu:hover, .menu:focus {
    background-color: transparent; }
  .menu .menu-global {
    position: absolute;
    left: 0;
    border-top: 2px solid white;
    width: 100%;
    transition: 0.55s;
    -webkit-transition: 0.55s; }
  .menu .menu-top {
    top: 0; }
  .menu .menu-middle {
    top: 6px; }
  .menu .menu-bottom {
    top: 12px; }
  .menu .menu-top-click {
    top: 6px;
    transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    transition: 0.55s 0.5s;
    -webkit-transition: 0.55s 0.5s; }
  .menu .menu-middle-click {
    opacity: 0; }
  .menu .menu-bottom-click {
    top: 6px;
    transform: rotate(-410deg);
    -webkit-transform: rotate(-410deg);
    transition: 0.55s 0.5s;
    -webkit-transition: 0.55s 0.5s; }
