/* - Mixins
------------------------------------------------- 
    Description: Useful mixins
    Author: Nick Rowe - Prodo Digital
    Author URL: http://www.prodo.com
*/


/*=====================================================
  Placeholder
======================================================*/

@mixin placeholder {
  &::-moz-placeholder { @content }
  &::-webkit-input-placeholder { @content }
  &:-ms-input-placeholder { @content }
}

@mixin placeholder-style {
  color: $grey1;
}

/*=====================================================
  Border radius mixins
======================================================*/

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
    background-clip: padding-box;  /* stops bg color from leaking outside the border: */
  }

// Single side border-radius
@mixin border-top-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
  -webkit-border-top-left-radius: $radius;
  border-top-left-radius: $radius;
  background-clip: padding-box;
}
@mixin border-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
  background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
  background-clip: padding-box;
}
@mixin border-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
  -webkit-border-top-left-radius: $radius;
  border-top-left-radius: $radius;
  background-clip: padding-box;
}

/*=====================================================
  Cross browser opacity
======================================================*/

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

/*=====================================================
  Transition
======================================================*/

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

/*=====================================================
  Box shadows
======================================================*/

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

/*=====================================================
  Triangle Shape

  @include triangle within a pseudo element and add positioning properties (ie. top, left)
  $direction: up, down, left, right
======================================================*/



@mixin triangle($direction, $size: 6px, $color: #222){
  content: '';
  display: block;
  position: absolute;
  height: 0; width: 0;
  @if ($direction == 'up'){
    border-bottom: $size solid $color;
    border-left: 1/2*$size solid transparent;
    border-right: 1/2*$size solid transparent;
  }
  @else if ($direction == 'down'){
    border-top: $size solid $color;
    border-left: 1/2*$size solid transparent;
    border-right: 1/2*$size solid transparent;
  }
  @else if ($direction == 'left'){
    border-top: 1/2*$size solid transparent;
    border-bottom: 1/2*$size solid transparent;
    border-right: $size solid $color;
  }
  @else if ($direction == 'right'){
    border-top: 1/2*$size solid transparent;
    border-bottom: 1/2*$size solid transparent;
    border-left: $size solid $color;
  }
}

/*=====================================================
  SVG fallback for invisbile gradient

  Sass mixin for SVG with fallback support using the invisible gradient technique
  http://pauginer.com/post/36614680636/invisible-gradient-technique
======================================================*/


  @mixin vector-image($img, $fallback, $position: center center, $size: auto) {
    background: transparent url($fallback) $position no-repeat;
    background-image: -webkit-linear-gradient(transparent, transparent), url($img);
    background-image: linear-gradient(transparent, transparent), url($img);
    background-size: $size;
  }