@import "normalize";
@import "mixins";
@import "framework";

// Import Google Web Fonts
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	background-color: rgb(249, 250, 252);
	font-family: 'Open Sans', sans-serif;
	color: #5A5A5A;
	font-weight: 100;
}

a {
	text-decoration: none;
	font-weight: 600;
	color: $primary;
	&:hover {
		color: darken($primary, 5%);
	}
}

p {
	margin-bottom: 50px;
	line-height: 30px;
	@media #{$medium-up} {
		font-size: 23px;
		line-height: 56px;
	}
}


.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
	clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
 .cf {
 	*zoom: 1;
 }




 main {
	// @include column(12);
	margin: 0;
}

aside {
	// @include column(4);
}

.btn {
	background-color: $primary;
	color: $w;
	padding: 24px 40px;
	-webkit-appearance: none;
	outline: 0;
	font-size: 18px;
	color: $w;


}

// a post
.post  {
	-webkit-box-shadow: 0 1px 40px rgba(0, 0, 0, 0.09);
	box-shadow: 0 1px 40px rgba(0, 0, 0, 0.09);
	margin-bottom: 40px;
	position: relative;
	background: #fff;

	@media #{$medium-up} {
		margin-bottom: 80px;
	}


	.entry-header {
		position: relative;

		.wp-post-image {
			// margin-bottom: 50px;
		}

		.entry-title {
			text-align: center;
			margin-top: 0;
			@media #{$large-up} {
				margin-top: 120px;
			}

		}

	}

	.entry-footer {
		padding: 0px 100px 50px 100px;
	}

	.entry-meta {
		
		padding: 18px;
		overflow: hidden;

		text-align: center;

		@media #{$medium-up} {
			text-align: left;

			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			color: $w;
			
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgIDxzdG9wIG9mZnNldD0iNjglIiBzdG9wLWNvbG9yPSIjYWRhZGFkIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
			background: -moz-linear-gradient(top,  rgba(0,0,0,0.3) 0%, rgba(173,173,173,0) 68%, rgba(255,255,255,0) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(68%,rgba(173,173,173,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(173,173,173,0) 68%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(173,173,173,0) 68%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(173,173,173,0) 68%,rgba(255,255,255,0) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(173,173,173,0) 68%,rgba(255,255,255,0) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#00ffffff',GradientType=0 ); /* IE6-8 */

			a {
				color: $w;
			}

		}

		.byline,
		.posted-on {
			display: block;
			@media #{$medium-up} {
				font-size: 18px;
			}
		}

		.posted-on {
			margin-bottom: 20px;
			@media #{$medium-up} {
				float: right;
				margin-bottom: 0;

			}

		}

	}

	.entry-content {
		padding: 0 40px 40px 50px;

		@media #{$medium-up} {
			padding: 50px 100px 100px 100px;

		}

	}

}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

h1 {
	margin: 50px 0;
	font-size: 50px;
}

h2 {
	margin: 42px 0;
	font-size: 42px;
}

h3 {
	margin: 34px 0;
	font-size: 34px;
}




.site-header {
	position: relative;
	overflow: hidden;
	margin: 20px 0;

	h1 {
		margin: 0;
	}
}

.site-menu {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	font-size: 54px;
	color: $w;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
		li {
			a {
				color: $w;
			}
		}
	}
}

.skip-link {
	display: none;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.78);
	z-index: 5;

	&.open {
		opacity: 1;
		visibility: visible;
		transition: opacity 0.5s;
	}
	.overlay-close {
		width: 80px;
		height: 80px;
		position: absolute;
		right: 20px;
		top: 20px;
		overflow: hidden;
		border: none;
		color: $w;
		outline: none;
		z-index: 100;
		font-size: 60px;
		text-align: center;

	}
}


.main-navigation {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.menu {
	cursor: pointer;
	position: relative;
	width: 38px;
	height: 32px;
	top: 28px;
	border: 0;
	background-color: transparent;
	outline: 0;
	padding: 0;
	margin-right: 20px;
	float: left;

	&:hover, &:focus {
		background-color: transparent;
	}


	.menu-global {
		position: absolute;
		left: 0;
		border-top: 3px solid $primary;
		width: 100%;
		transition: 0.55s;
		-webkit-transition: 0.55s;
	}
	.menu-top {
		top: -4px;
	}
	.menu-middle {
		top: 6px;
	}
	.menu-bottom {
		top: 16px;
	}
	.menu-top-click {
		top: 6px;
		transform: rotate(50deg);
		-webkit-transform: rotate(50deg);
		transition: 0.55s 0.5s;
		-webkit-transition: 0.55s 0.5s;
	}
	.menu-middle-click {
		opacity: 0;
	}
	.menu-bottom-click {
		top: 6px;
		transform: rotate(-410deg);
		-webkit-transform: rotate(-410deg);
		transition: 0.55s 0.5s;
		-webkit-transition: 0.55s 0.5s;
	}
}

.comments-area {
	-webkit-box-shadow: 0 1px 40px rgba(0, 0, 0, 0.09);
	box-shadow: 0 1px 40px rgba(0, 0, 0, 0.09);
	margin-bottom: 40px;
	position: relative;
	background: white;
	padding: 100px;

	.comments-title {
		font-size: 50px;
		margin: 100px 0;
		margin-top: 0;
	}

	.comment-reply-title {
		font-size: 50px;
		margin: 0;
	}

	.comment-notes {
		margin: 100px 0;
		margin-top: 0;
	}

}

.comment-form {
	label {
		@extend .screen-reader-text;
	}


	.submit {
		background-color: $primary;
		color: $w;
	}

	textarea {
		width: 85%;
	}

}

input[type="text"],
input[type="url"],
input[type="email"],
textarea {
	-webkit-appearance: none;
	outline: 0;


	background-color: white;
	border: 0;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
	background-color: #fff;
	padding: 24px 40px;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
	box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.05);
	border: none;
	font-size: 18px;
	color: #292929;
	font-weight: 300;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.comment-list {

	.comment  {
		position: relative;
		min-height: 150px;
		margin-bottom: 80px;
		padding-bottom: 80px;
		overflow: hidden;
		&.parent {
			border-bottom: 1px solid grey;

		}
	}

	padding: 0;
	list-style-type: none;

	.avatar  {
		width: 64px;
		height: 64px;
		float: left;
		margin-right: 20px;
		border-radius: 50%;
	}

	.edit-link {
		display: none;
	}

	.says {
		display: none;
	}

	.fn {
		font-size: 28px;
	}

	.comment-body {
		@extend .cf;
	}

	.comment-reply-link {
		@extend .btn;
		float: right;	
	}

	.comment-content {

		position: relative;
	}

	.comment-meta {
		
	}
}

.children {
	padding: 0 0 0 0px;
	clear: both;
	list-style-type: none;

	@media #{$medium-up} {
		padding: 0 0 0 50px;
	}

	.comment {
		padding-bottom: 0;
		margin: 0;
	}



}