@import "reset";
@import "mixins";
@import "framework";

// Import Google Web Fonts
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	background-color: rgb(249, 250, 252);
	font-family: 'Open Sans', sans-serif;
	color: #5A5A5A;
	font-weight: 100;
}

a {
	text-decoration: none;
	font-weight: 600;
	color: #000;
}

p {
	margin-bottom: 50px;
}

.entry-title {

}

.entry-header {
	.wp-post-image {
		margin-bottom: 50px;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 50px;
	margin-bottom: 1.5rem;
	font-size: 50px;
	color: #777777;
	a {
		color: #777777;
	}
}


main {
	// @include column(12);
	margin: 0;
}

aside {
	// @include column(4);
}

.post  {
	-webkit-box-shadow: 0 1px 40px rgba(0, 0, 0, 0.09);
	box-shadow: 0 1px 40px rgba(0, 0, 0, 0.09);
	margin-bottom: 80px;
	position: relative;
	background: #fff;
	.entry-content {

		p {

		}
	}
}

.entry-content {
	padding: 40px 50px;

	@media #{$medium-up} {
		padding: 100px;
	}

}

.entry-header {
	text-align: center;
}

.site-header {
	position: relative;

}

.site-menu {
	display: none;
}

.skip-link {
	display: none;
}



.main-navigation {
	padding: 2rem;
}

.menu {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 14px;
	top: 50%;
	margin-top: -10px;
	border: 0;
	background-color: transparent;
	outline: 0;
	padding: 0;
	&:hover, &:focus {
		background-color: transparent;
	}


	.menu-global {
		position: absolute;
		left: 0;
		border-top: 2px solid white;
		width: 100%;
		transition: 0.55s;
		-webkit-transition: 0.55s;
	}
	.menu-top {
		top: 0;
	}
	.menu-middle {
		top: 6px;
	}
	.menu-bottom {
		top: 12px;
	}
	.menu-top-click {
		top: 6px;
		transform: rotate(50deg);
		-webkit-transform: rotate(50deg);
		transition: 0.55s 0.5s;
		-webkit-transition: 0.55s 0.5s;
	}
	.menu-middle-click {
		opacity: 0;
	}
	.menu-bottom-click {
		top: 6px;
		transform: rotate(-410deg);
		-webkit-transform: rotate(-410deg);
		transition: 0.55s 0.5s;
		-webkit-transition: 0.55s 0.5s;
	}
}